APP_PORT=3000
# DATABASE_HOST=127.0.0.1
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=1999
DATABASE_NAME=transaction_store
DATABASE_TYPE=postgres

ETHERSCAN_API=https://api.etherscan.io/api
ETHERSCAN_API_KEY=

# NODE_ENV=dev;
NODE_ENV=prod;